/* components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1f2742; /* Customize as needed */
}

.banner img {
    width: 100%;
    height: auto; /* Adjust based on your banner */
}

.navMenu {
    list-style: none;
    display: flex;
}

.navMenu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.circularImage {
    border-radius: 50%;
    /* Ensure the width and height are equal for a perfect circle */
    width: 35px; 
    height: 35px; 
    object-fit: cover; 
}